.window {
  width: 963px;
  height: 694px;
  background-image: url("/assets/images/backround-window.png");
  background-size: cover;
  background-position: center;
  position: relative;
  user-select: none;
}

.professionTitle {
  position: absolute;
  top: 61px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  width: 100%;
}

.professionText {
  color: #ffdd66;
  font-size: 14px;
  text-shadow: 1px 1px 1px #010101;
}

.panelContainer {
  position: absolute;
}

.panel1 {
  left: 10px;
  top: 81px;
}

.panel2 {
  left: 327px;
  top: 81px;
}

.panel3 {
  left: 644px;
  top: 81px;
}

.pointsSection {
  position: absolute;
  left: 221px;
  top: 48px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.pointsCounter {
  /* Счетчик очков */
}

.resetButton {
  position: absolute;
  left: 12px;
  top: 648px;
}

.shareButton {
  position: absolute;
  left: 812px;
  top: 648px;
}
