@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

:root {
  --talents-window-width: 963px;
  --talents-window-height: 694px;
  --text-shadow: 1px 1px 1px #010101;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.points-text {
  color: #bbaa88;
  text-shadow: 1px 1px 1px #010101;
  font-size: 11px;
}
